<div id="<%= dom_id column %>">
  <p>
    <strong>Name:</strong>
    <%= column.name %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= column.board_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= column.position %>
  </p>

</div>
