<p style="color: green"><%= notice %></p>

<h1>Columns</h1>

<div id="columns">
  <% @columns.each do |column| %>
    <%= render column %>
    <p>
      <%= link_to "Show Column", board_column_path(@board, column) %>
    </p>
  <% end %>
</div>

<%= link_to "New column", new_board_column_path %>
